# Project 1 Carlos Palacios

### Part A

In [1]:
# Importing libraries

import pandas as pd

In [2]:
# 1 Importing DataFrame as df

df = pd.read_csv("p1_communes.csv")

In [3]:
# 2 Number of rows and columns

df.shape

(2202, 17)

In [4]:
# 3 First few entries of "df"

df.head()

,Canton,Commune,Language,Residents,Population density per km²,0-19 years,20-64 years,65 years or over,Private households,Surface area in km²,Settlement area,Agricultural area,Wooded area,Unproductive area,East coordinate,North coordinate,Elevation
0,ZH,Aeugst am Albis,de,1982,250.568900,19.677094,62.764884,17.558022,835,7.91,12.658228,51.139241,30.886076,5.316456,2679300,1235700,673
1,ZH,Affoltern am Albis,de,12229,1154.768650,20.508627,61.329626,18.161747,5348,10.59,30.674264,40.170940,28.205128,0.949668,2676800,1236800,502
2,ZH,Bonstetten,de,5548,746.702557,23.666186,60.310022,16.023792,2325,7.43,15.456989,55.510753,28.629032,0.403226,2677800,1241000,583
3,ZH,Hausen am Albis,de,3701,272.132353,21.804918,60.686301,17.508781,1546,13.60,12.692590,55.906090,28.833456,2.567865,2682900,1233100,653
4,ZH,Hedingen,de,3734,571.822358,21.772898,61.756829,16.470273,1540,6.53,19.817073,46.341463,33.231707,0.609756,2676400,1239000,543

In [5]:
# 4 Index labels and list of column names

df.index.tolist()
df.columns.tolist()

['Canton',
 'Commune',
 'Language',
 'Residents',
 'Population density per km²',
 '0-19 years',
 '20-64 years',
 '65 years or over',
 'Private households',
 'Surface area in km²',
 'Settlement area',
 'Agricultural area',
 'Wooded area',
 'Unproductive area',
 'East coordinate',
 'North coordinate',
 'Elevation']

In [6]:
# 5 Column data type

df.dtypes

Canton                         object
Commune                        object
Language                       object
Residents                       int64
Population density per km²    float64
0-19 years                    float64
20-64 years                   float64
65 years or over              float64
Private households              int64
Surface area in km²           float64
Settlement area               float64
Agricultural area             float64
Wooded area                   float64
Unproductive area             float64
East coordinate                 int64
North coordinate                int64
Elevation                       int64
dtype: object

In [7]:
# 6 Check for missing values

df.isnull().sum()

Canton                         3
Commune                        0
Language                      11
Residents                      0
Population density per km²     0
0-19 years                     0
20-64 years                    0
65 years or over               0
Private households             0
Surface area in km²            0
Settlement area                0
Agricultural area              0
Wooded area                    0
Unproductive area              0
East coordinate                0
North coordinate               0
Elevation                      0
dtype: int64

In [8]:
df = df.dropna()

## Part B Exploration

In [12]:
# 1 Mean, minimum and maximum for numerical data

numerical_columns = ["Residents", "Population density per km²", "0-19 years", "20-64 years", "65 years or over", 
                     "Private households", "Surface area in km²", "Settlement area", "Agricultural area", "Wooded area", 
                     "Unproductive area", "East coordinate", "North coordinate", "Elevation"]

df[numerical_columns].agg(["mean", "min", "max"])

,Residents,Population density per km²,0-19 years,20-64 years,65 years or over,Private households,Surface area in km²,Settlement area,Agricultural area,Wooded area,Unproductive area,East coordinate,North coordinate,Elevation
mean,3865.299863,433.424048,20.585167,60.371180,19.043653,1702.485167,17.97283,14.882541,45.929853,32.575829,6.611777,2.631543e+06,1.202302e+06,768.209493
min,11.000000,0.895037,0.000000,18.181818,6.271186,10.000000,0.31000,0.138897,0.000000,0.000000,0.000000,2.486700e+06,1.077200e+06,200.000000
max,415367.000000,12669.052100,37.777778,77.922078,81.818182,201252.000000,438.63000,97.260274,91.509434,88.235294,95.022860,2.828800e+06,1.294100e+06,3080.000000

In [13]:
# 2 Top 10 most populated communes by number of residents

df.nlargest(10, "Residents")[["Commune", "Residents"]]

          Commune  Residents
154        Zürich     415367
2124       Genève     201818
910         Basel     172258
1749     Lausanne     139111
194          Bern     133883
141    Winterthur     111851
535        Luzern      81691
1053   St. Gallen      75833
1582       Lugano      63185
207   Biel/Bienne      55159

In [14]:
# 3  Top 10 least populated communes by number of residents

df.nsmallest(10, "Residents")[["Commune", "Residents"]]

          Commune  Residents
1546      Corippo         11
875   Kammersrohr         28
2011       Bister         33
366      Schelten         36
370    Rebévelier         41
485        Berken         45
1629    Cerentino         45
342   Clavaleyres         46
1160    Lohn (GR)         46
1627  Bosco/Gurin         46

In [17]:
# 4 Group communes by canton and save to CSV files

for Canton, data in df.groupby("Canton"):
    data.to_csv(f"{Canton}.csv", index=False)

In [25]:
# 5 Population density at canton level and rank

canton_population_density = df.groupby("Canton").agg({"Residents": "sum",
                                                      "Surface area in km²": "sum"})
canton_population_density["Population Density"] = canton_population_density["Residents"] / canton_population_density["Surface area in km²"]
canton_population_density = canton_population_density.sort_values(by="Population Density", ascending=False)
print(canton_population_density[["Population Density"]])

        Population Density
Canton
BS             5271.069012
GE             2031.893255
ZH              948.443099
ZG              612.265881
BL              556.593969
AG              486.145498
SO              345.618319
TG              320.320701
LU              286.577848
VD              283.275259
SH              274.989938
SG              260.210650
NE              249.037193
AR              227.450173
FR              201.503947
SZ              186.964795
NW              179.095881
BE              177.054876
TI              131.670991
AI               93.605056
JU               87.558884
OW               78.733719
VS               65.977584
GL               59.355076
UR               34.457223
GR               29.047582

### Comments:
The top 2 cantons BS and GE have the higest population density, meaning that most of the population leave in this areas. This can be due to the presence of international organizations and the banking sector. UR and GR have notably lower population densities. indicating a sparser population distribution in these areas.

In [26]:
# 6 Communes with more than 50% population aged 20-64

df[df["20-64 years"] > (0.5 * df["Residents"])].groupby("Canton")["Commune"].count()

Canton
BE    11
FR     2
GR     7
JU     2
SO     3
TI     8
VD     4
VS     3
Name: Commune, dtype: int64

In [28]:
# 7 Top 5 cantons with the largest range of elevations

canton_elevation_range = df.groupby("Canton")["Elevation"].apply(lambda x: x.max() - x.min())
canton_elevation_range.nlargest(5)

Canton
VS    2610
TI    2044
BE    2025
GR    2017
UR    1871
Name: Elevation, dtype: int64